
img {
    width: 100%;
}
.myImg-container {
    z-index: 0;
    width: 600px;
    height: 60px;
    position: absolute;
    top: -50px;
    bottom: -50px;
    right: 5%;
    left: auto;
    // margin: auto;
}
